* {
    font-family: roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
    padding: 30px 150px 80px;
}

.links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
    gap: 20px;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
    padding: 0 150px 60px 150px;
    gap: 60px;
}

.left h1,
.left p {
    margin: 0;
}

.right {
    width:350px;
    height: 200px;
    font-size: 18px;
    margin: 0;
    border-radius: 20px;
    background-image: url('images/coral-reef');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-position: center;
}

.left {
    min-width: 290px;
    flex: 1;
}
.left, .right {
    flex-shrink: 0;
}

.body p {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

.body button {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 5px 20px;
    border: 1px #3882F6 solid;
    border-radius: 5px;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 200px 60px;
}

.info .title h2 {
    margin: 0 0 30px 0;
}

.info1 p {
    width: 140px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 140px;
    height: 140px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 200px;
}

.quote1 {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
    color: rgb(79, 79, 79);
}

.name {
    font-size: 18px;
    margin-top: 0;
    align-self: flex-end;
}

.bottom .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 20px 60px;
    margin: 60px 120px;
    border-radius: 7px;
}

span {
    font-weight: 900;
    font-size: 22px;
}

.bottom-right button {
    margin: 0;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 5px 20px;
    border: 1px #f9faf8 solid;
    border-radius: 5px;
}

.footer {
    margin-top: auto;
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 12px;
}